input {
  color:white;
  padding-left: 10px;
}

.background-color {
  border-color: red ;
}

.card-content {
  border-width: 5px;
  border-color: red !important;
  padding: 6px;
}

.card.horizontal {
margin-bottom: 0px;
margin-left: 0px;

}

.title {
  font-size: 18px;
}

.card:hover {
    border-bottom: 2px solid red;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.card-action{
  
}
