/*input {
  color:white;
  padding-left: 10px;
  border-bottom: 1px solid red!important;
}*/
input:not([type]):focus:not([readonly]){
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 0 0 transparent;
}

input {
  margin-top: 2px;
}

.background-color {
  border-color: red ;
}

.card-content {
  border-width: 5px;
  border-color: red !important;
  padding: 6px;
  color: #16452F;
}

.card.horizontal {
margin-bottom: 0px;
margin-left: 0px;

}

.title {
  font-size: 18px;
  font-family: ‘Didact Gothic’, sans-serif;
}

.card:hover {
    border-bottom: 2px solid #F8F4EE;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.search-container{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #F8F4EE;
  padding: 50px 20px;
}

.waves-effect {
  background-color:  white;
}

.btn {
  /*background-color: #FF3F6C;*/
  opacity: .90;
  background-color: #FF005D;
  border-radius: 25px;
  margin-bottom: 10px;
  z-index: 5;
}


a {
  text-decoration: none;
    color: black;
    font-family: ‘Didact Gothic’, sans-serif;
}
