<div *ngIf='routeToShow == "video-search"'>
  <div class="search-container">
  <input (keyup)='searchVideos($event)' placeholder="Search video">
  <div *ngIf = "videoList.length>0">
  <div *ngFor = "let video of videoList">
    <div class="col s12 m7">
    <div class="card horizontal">
    <div class="card-stacked">
      <div class= "card-content">
    <p class="title">{{video.title}}</p>
    <div class="video-container">
      <iframe width="560" height="315" [src]="video.embeded" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen *ngIf= "video.embeded"></iframe>
    </div>
    <br>
    <input type='text' placeholder="Comment something" [(ngModel)]="comments">
    <!-- <div class="card-action"> -->
      <button class="waves-effect waves-light btn" type="button" (click)='saveTheVideoPublication(video, comments)'>Add to my profile</button>
    <!-- </div> -->
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>


<div *ngIf='routeToShow == "book-search"'>
  <div class="search-container">
      <input (keyup)='searchBooks($event)' placeholder="Search book">
        <div *ngIf = "bookList">
          <div *ngFor = "let book of bookList">
            <div class="col s12 m7">
            <div class="card horizontal">
              <!-- <div class="card-image"> -->
               <!-- <img src="{{ book.image }}" alt=""> -->
              <!-- </div> -->
            <div class="card-stacked">
              <div class= "card-content">
            <a [routerLink]='["/book-detail/",book.link]' >
              <p class ="title">{{book.title}}</p>
              <p>by {{book.author}}</p>
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<app-menu></app-menu>
