<div class="category-component">
<div class="row category-items-wrapper">
  <div class="col s12 container category-item img1">
    <div class="opacity"></div>
      <a class="centered" [routerLink]="['/book-search']">BOOKS</a>
  </div>
    <div class="col s12 container category-item img2">
        <div class="opacity"></div>
  <a class="centered" [routerLink]="['/video-search']">VIDEOS</a>
    </div>
    <div class="col s12 container category-item img3">
        <div class="opacity"></div>
    <a class="centered" [routerLink]="['/url-search']">ARTICLES</a>
  </div>
</div>
<router-outlet></router-outlet>
<app-menu></app-menu>
</div>
