body {
  background-color: #F8F4EE;
}

img {
  width: 100%;
  height: auto;
}

.gradient-image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, transparent 0%, #F8F4EE 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}

.container{
 margin-left: 20px;
 display: flex;
 flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
 justify-content: flex-start;
 align-items: flex-start;
}

nav {
  background-color: #16452F !important;

}

h1{
  font-size: 2em;
  text-align: center;
  position: absolute;
  top: 32%;
  left: 38%;
color: black;
font-weight: bold;
letter-spacing: 7px;
text-transform: uppercase;
}

.profile-menu {
  left: 0px;
  right:0px;
  color: white;
  /*height: 4%;*/
  text-align: center;
}
ul {
  padding: 5px;
  position: relative;
  position: absolute;
  top:40%;
  width: 100%;
}
li {
  position:relative;
  display:inline;
  margin: 6%;
color: black;
font-size: 1.2em;
}

.columns{
  margin: 1%;
  padding: 10px;
}

.books .card{
  background-color: #F7EF00;
}

.row .col {
  padding: 4px !important;
}

.row .col .s6 {
  margin: 0px !important;
}

span {
  font-size: 15px !important;
  line-height: 20px !important;
}
span h4 {
  font-size: 14px !important;
  text-transform: uppercase;
  letter-spacing: 2px;

}

span h2 {
  font-size: 20px !important;
  font-family: 'Old Standard TT', serif;
  line-height: 27px;
  margin: -11px !important;
}

/*span[_ngcontent-rhd-5] h2[_ngcontent-rhd-5] {
  margin: -11px;
}*/

.container .row {
  margin-left: -1.75rem;
  margin-right: -1.75rem;
}

.card .card-content {
  padding-top: 0px 24px 0px 24px !important;

}

.card .card-content p {
text-justify: inter-word;
padding: 0px;
}

.waves-effect {
  background-color:  white;
}

.card .card-action {
 color: #FF005D;
 text-transform: uppercase;
 display: block;
 padding: 7px;
 text-align: center;
}

.btn {
  /*background-color: #FF3F6C;*/
  opacity: .90;
  background-color: #FF005D;
  border-radius: 25px;
  margin-bottom: 2px;
  z-index: 5;
  font-size: 10px;
  width:60%;
}

.content-other {
  margin-top: 5px;
}
