body {
  width: 100%;
  background-color:#fcfcfcff;
  height: 200%;
}

a {
  color:#FF005D;
}
.search-url {
  margin-top: 20%;
  padding: 0 15px 0 15px;
}

h1 {
  font-size: 1.2em;
  text-align: center;
  margin-top: 0px;
}

.waves-effect {
  background-color:  white;
}
.padding-button1 {
  margin-left:34px;
}

.btn {
  /*background-color: #FF3F6C;*/
  opacity: .90;
  background-color: black;
  color: white;
  border-radius: 25px;
  margin-bottom: 10px;
  z-index: 5;
  margin-left: 80px;
}

img {
  width: 100%;
}

#publi-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}
