
<div class="search-url">

<input placeholder="Paste any URL" [(ngModel)]="queryPublic">
  <div class="padding-button1">
<button class=" waves-effect waves-light btn " (click)='searchPubli()' name="button">Search</button>
</div>
<div *ngIf="myPubli" class= "">
  <h1 id="publi-title">{{ myPubli.title }}</h1>
  <img src="{{ myPubli.image }}" alt="">
  <a href="{{myPubli.link}}" target="_blank">See on {{ myPubli.author }}</a>
  <input placeholder="Comment something" [(ngModel)]="comments">
  <button class="waves-effect waves-light btn" type="button" (click)='savePubli(comments)'>Add to my profile</button>

</div>
</div>


<app-menu></app-menu>
