img {
  width: 100%;
}

.container{
 margin: 0 auto;
 display: flex;
 flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
 justify-content: flex-start;
 align-items: flex-start;
}

.columns{
  margin: 1%;
  padding: 10px;
}

.books .card{
  background-color: #F7EF00;
}

.row .col {
  padding: 4px !important;
}

.row .col .s6 {
  margin: 0px !important;
}

span {
  font-size: 15px !important;
  line-height: 20px !important;
}

span h4 {
  font-size: 14px !important;
  text-transform: uppercase;
  letter-spacing: 2px;

}

span h2 {
  font-size: 25px !important;
  font-family: 'Old Standard TT', serif
}
.container .row {
  margin-left: -1.75rem;
  margin-right: -1.75rem;
}
