img {
  width: 100%;
}

.container{
 margin: 0 auto;
 display: flex;
 flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
 justify-content: flex-start;
 align-items: flex-start;
}

.columns{
  margin: 1%;
  padding: 10px;
}

.books .card{
  background-color: #F7EF00;
}
