img {
  width: 100%;
  height: auto;
}

.container{
 margin: 0 auto;
 display: flex;
 flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
 justify-content: flex-start;
 align-items: flex-start;
}

.gradient-image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, transparent 0%, #F8F4EE 100%);
  margin-top: -100px;
  height: 150px;
  width: 100%;
  content: '';
}

nav {
  background-color: #16452F !important;
}

h1{
  font-size: 2em;
  text-align: center;
  position: absolute;
  top: 32%;
  left: 42%;
color: #e4e0daff;
text-transform: uppercase;
}

.profile-menu {
  left: 0px;
  right:0px;
  color: white;
  /*height: 4%;*/
  text-align: center;
}
ul {
  padding: 5px;
  position: relative;
  position: absolute;
  top:40%;
  width: 100%;
}
li {
  position:relative;
  display:inline;
  margin: 6%;
color: black;
font-size: 1.2em;
}

.columns{
  margin: 1%;
  padding: 10px;
}

.books .card{
  background-color: #F7EF00;
}

.row .col {
  padding: 4px !important;
}

.row .col .s6 {
  margin: 0px !important;
}

span {
  font-size: 15px !important;
  line-height: 20px !important;
}

span h4 {
  font-size: 14px !important;
  text-transform: uppercase;
  letter-spacing: 2px;

}

span h2 {
  font-size: 20px !important;
  font-family: 'Montserrat', sans-serif;
}
.container .row {
  margin-left: -1.75rem;
  margin-right: -1.75rem;
}


.card .card-action {
 color: #FF005D;
 padding: 1px;
}

.btn {
  /*background-color: #FF3F6C;*/
  opacity: .90;
  background-color: #FF005D;
  border-radius: 25px;
  margin-bottom: 10px;
  z-index: 5;
  font-size: 10px;
  display: inline-block;
  width: 35%;
}

.waves-effect {
  background-color:  white;
}
