body {
  background-color: #fcfcfcff;
}

.menu {
  position: fixed;
  left: 0px;
  right:0px;
  z-index:5;
  bottom: 0px;
  display: inline-block;
  background-color: white;

  width: 100%;
  height: 8%;
  box-shadow: 0 5px 25px -4px #333, 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
  /*height: 60px;*/
}

li {
  position:relative;
  display:inline;
  margin: 8%;
}

i {
  font-size: 30px;
  text-decoration: none;
  color: #1e1f21ff;
;
}

.barra{
  z-index: 5;
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
top: 0px;
left: 0px;
right:0px;
color: #1e1f21ff;
text-align: center;
}
.barra h1 {
  font-size: 1.7em;
  margin-top: 3%;
  font-weight: 700;

}
